langchain
openai
pypdf
sentence-transformers
torch
tabulate
streamlit-feedback
langchain-experimental
streamlit
docarray
hnswlib
langchain-community
langchain-openai
numexpr
langchainhub
langchain-openai
spacy

# Dev dependencies
black
mypy
pre-commit
